<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission
        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.software.device_admin"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true">

        <receiver
            android:name=".Service.RestartService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Service.AdminReceiver"
            android:exported="false"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
        </receiver>

        <service
            android:name=".Service.ForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="To run service in the background." />
        </service>
        <service
            android:name=".Service.NotificationService"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".Service.LogURLService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service" />
        </service>

        <activity
            android:name=".Activity.BlockDataActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix.BlockData" />
        <activity
            android:name=".Activity.EditScheduleActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.NoOfLaunchesActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.FixedBlockActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.QuickBlockActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.SpecificTimeActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.UsageTimeActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.NewScheduleActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.DrawOnTopScreenActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.AppSelectActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.StrictModeActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.TakeBreakActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.NewProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.KeywordBlockActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.AppBlockActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.SettingActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.InternetBlockActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.EnterPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.NewPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.WebBlockActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.DrawOnTopLaunchActivity"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Permission.GetNotificationAccess"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Permission.GetDrawOverAppsPermission"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Permission.GetUsageStatsPermissionActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.UsageOverviewActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.AppInsightsActivity"
            android:exported="false"
            android:theme="@style/Theme.Achievix" />
    </application>
</manifest>